@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<MoviesChallenge.Models.ActorModel>

<div class="text-center">
    <h1 class="display-4">Movies and Actors</h1>
</div>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for actors" title="Type in a name">

<table id="myTable" class="table table-bordered table-responsive table-hover"> 
    <tr>
        <th>Actor Name</th>
        <th>Movies</th>
    </tr>
    @*Retrieving data from model to display in table*@
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.Movies</td>
        </tr>
    }
</table>

@*Simple JS function to filter actor names*@
<script>
function myFunction() {
  var input = document.getElementById("myInput");
  var filter = input.value.toUpperCase();
  var table = document.getElementById("myTable");
  var tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) <= -1) {
        tr[i].style.display = "none";
      } else {
        tr[i].style.display = "";
      }
    }       
  }
}
</script>